
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <div style="display:flex; flex-direction:column; height:800px; overflow-y:auto;">
            <div>

            </div>
        </div>
        <button class="btn btn-default" type="button" id="add-order">Добавить заказ</button>

    </div>

</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}